.logoImg {
  margin: auto;
}

.loginFormWrapper {
  /* Center vertically */
  display: flex;
  align-items: center;
  min-height: 90vh;
 
}
.LoginTitle {
  font-size: 2rem;
}
.loginFormBlock {
  margin: auto;
}

.loginBtn{
  max-height: 45px;
}

.loginGoogleBlock{
  min-height: 20vh;
}